<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.basicDetailGongDaoI">
	<resultMap type="Ernest.Entity.BasicDetailGong" id="basicDetailGongMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		<result column="fno" jdbcType="VARCHAR" property="fno"/>
		<result column="fbasicName" jdbcType="VARCHAR" property="fbasicName"/>
		<result column="fbasicType" jdbcType="VARCHAR" property="fbasicType"/>
		<result column="fbasicCode" jdbcType="VARCHAR" property="fbasicCode"/>
		<result column="fbasicState" jdbcType="VARCHAR" property="fbasicState"/>
		<result column="fbz" jdbcType="VARCHAR" property="fbz"/>
		<result column="fmasterId" jdbcType="VARCHAR" property="fmasterId"/>
		<result column="fonlyOne" jdbcType="VARCHAR" property="fonlyOne"/>
		<result column="fgxid" jdbcType="VARCHAR" property="fgxid"/>
	</resultMap>
	
	
	<select id="">
	
	</select>
	
</mapper>