<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.informationTableDaoI">
	<resultMap type="Ernest.Entity.InformationTable" id="InformationTableMap">
		<id column = "fid" jdbcType="VARCHAR" property="fid"/>
		<result column="gongxuChange" jdbcType="VARCHAR" property="gongxuChange"/>
		<result column="fmd5" jdbcType="VARCHAR" property="fmd5"/>
		<result column="fprojectCode" jdbcType="VARCHAR" property="fprojectCode"/>
		<result column="fwrtieName" jdbcType="VARCHAR" property="fwrtieName"/>
		<result column="fwriteId" jdbcType="VARCHAR" property="fwriteId"/>
		<result column="fno" jdbcType="VARCHAR" property="fno"/>
		<result column="fprjoectName" jdbcType="VARCHAR" property="fprjoectName"/>
		<result column="fprojectQuanName" jdbcType="VARCHAR" property="fprojectQuanName"/>
		<result column="fprojectAddress" jdbcType="VARCHAR" property="fprojectAddress"/>
		<result column="flongitude" jdbcType="VARCHAR" property="flongitude"/>
		<result column="flatitude" jdbcType="VARCHAR" property="flatitude"/>
		<result column="fprojectMessage" jdbcType="VARCHAR" property="fprojectMessage"/>
		<result column="fproSuperAdminNa" jdbcType="VARCHAR" property="fproSuperAdminNa"/>
		<result column="fproSuperAdminId" jdbcType="VARCHAR" property="fproSuperAdminId"/>
		<result column="fwrtietime" jdbcType="DATE" property="fwrtietime"/>
		<result column="fstateTime" jdbcType="DATE" property="fstateTime"/>
		<result column="fendTime" jdbcType="DATE" property="fendTime"/>
		<result column="fsvgzs" jdbcType="VARCHAR" property="fsvgzs"/>
		<result column="fsvgqd" jdbcType="VARCHAR" property="fsvgqd"/>
		<result column="fqdgeshu" jdbcType="VARCHAR" property="fqdgeshu"/>
		<result column="fzhuangshu" jdbcType="VARCHAR" property="fzhuangshu"/>
		<result column="fpeolistName" jdbcType="VARCHAR" property="fpeolistName"/>
		<result column="fpeolistId" jdbcType="VARCHAR" property="fpeolistId"/>
		<result column="fpeolistMd5" jdbcType="VARCHAR" property="fpeolistMd5"/>
		
		<result column="fcreateOrgId" jdbcType="VARCHAR" property="fcreateOrgId"/>
		<result column="fcreateOrgId" jdbcType="VARCHAR" property="fcreateOrgId"/>
		<result column="fcreateOrgCode" jdbcType="VARCHAR" property="fcreateOrgCode"/>
		<result column="fcreateDepId" jdbcType="VARCHAR" property="fcreateDepId"/>
		<result column="fcreateDepName" jdbcType="VARCHAR" property="fcreateDepName"/>
		<result column="fcreateDepCode" jdbcType="VARCHAR" property="fcreateDepCode"/>
		<result column="fcreatePosId" jdbcType="VARCHAR" property="fcreatePosId"/>
		<result column="fcreatePosName" jdbcType="VARCHAR" property="fcreatePosName"/>
		<result column="fcreatePosCode" jdbcType="VARCHAR" property="fcreatePosCode"/>
		<result column="fcreatePsmname" jdbcType="VARCHAR" property="fcreatePsmname"/>
		<result column="fcubeSum" jdbcType="REAL" property="fcubeSum"/>
		<result column="ftonnageSum" jdbcType="REAL" property="ftonnageSum"/>
		<result column="fspanSum" jdbcType="REAL" property="fspanSum"/>
		<result column="fcreatePsmCode" jdbcType="VARCHAR" property="fcreatePsmCode"/>
		<result column="fcreateDateTime" jdbcType="VARCHAR" property="fcreateDateTime"/>
		<result column="fupdatePsmName" jdbcType="VARCHAR" property="fupdatePsmName"/>
		<result column="fupdateDateTime" jdbcType="VARCHAR" property="fupdateDateTime"/>
		<result column="fprojectType" jdbcType="VARCHAR" property="fprojectType"/>
		<result column="fprojectVoltage" jdbcType="VARCHAR" property="fprojectVoltage"/>
		<result column="fprojectTelephone" jdbcType="VARCHAR" property="fprojectTelephone"/>
		<result column="fprojectState" jdbcType="VARCHAR" property="fprojectState"/>
		<result column="fstate" jdbcType="VARCHAR" property="fstate"/>
		<result column="fmsterId" jdbcType="VARCHAR" property="fmsterId"/>
		<result column="fxmbry" jdbcType="VARCHAR" property="fxmbry"/>
		<result column="fbs" jdbcType="VARCHAR" property="fbs"/>
		<result column="fsgbz" jdbcType="VARCHAR" property="fsgbz"/>
	</resultMap>
	
	<select id="findList" parameterType="String" resultMap="InformationTableMap">
		select 
			fid,
			fprojectCode,
			fprjoectName,
			fprojectQuanName,
			fmd5     
		from 
			pm_project_project_informationtable 
		where 
			fwriteId =#{writeId}
	</select>
	 
	<select id="findById" parameterType="String" resultMap="InformationTableMap">
		select 
			ppi.fID as fid,
			ppi.fMd5 as fmd5,
			ppi.fProjectCode as fprojectCode,
			ppi.fWrtieName as fwrtieName,
			ppi.fWriteID as fwriteId,
			ppi.fPrjoectName as fprjoectName,
			ppi.fProjectQuanName as fprojectQuanName,
			ppi.fpeolistMd5	as fpeolistMd5	,
			ppi.fprojectAddress as fprojectAddress,
			ppi.fProjectMessage as fprojectMessage,
			ppi.fstateTime as fstateTime,
			ppi.fendTime as fendTime 
		from 
			pm_project_project_informationtable  ppi
		where 
			fID=#{fid}
	</select> 
	
	<update id="updateByMapId" parameterType="Ernest.Entity.InformationTable">
		update  pm_project_project_informationtable  
		<trim prefix="set" suffixOverrides=",">
				<if test=" fprjoectName != null">
					fprjoectName=#{fprjoectName,jdbcType=VARCHAR},
				</if>
				<if test=" fprojectQuanName != null">
					fprojectQuanName=#{fprojectQuanName,jdbcType=VARCHAR},
				</if>
				<if test=" fprojectAddress != null">
					fprojectAddress=#{fprojectAddress,jdbcType=VARCHAR},
				</if>
				<if test=" fprojectMessage != null">
					fprojectMessage=#{fprojectMessage,jdbcType=VARCHAR},
				</if>
				<if test=" fstateTime != null">
					fstateTime=#{fstateTime,jdbcType=DATE},
				</if>
				<if test=" fendTime != null">
					fendTime=#{fendTime,jdbcType=DATE},
				</if>
				
				<if test=" gongxuChange != null">
					gongxuChange=#{gongxuChange,jdbcType=VARCHAR},
				</if>
				<if test=" fmd5 != null">
					fmd5=#{fmd5,jdbcType=VARCHAR},
				</if>
				<if test=" fprojectCode != null">
					fprojectCode=#{fprojectCode,jdbcType=VARCHAR},
				</if>
				<if test=" fwrtieName != null">
					fwrtieName=#{fwrtieName,jdbcType=VARCHAR},
				</if>
				<if test=" fwriteId != null">
					fwriteId=#{fwriteId,jdbcType=VARCHAR},
				</if>
				<if test=" fno != null">
					fno=#{fno,jdbcType=VARCHAR},
				</if>
				<if test=" flongitude != null">
					flongitude=#{flongitude,jdbcType=VARCHAR},
				</if>
				<if test=" flatitude != null">
					flatitude=#{flatitude,jdbcType=VARCHAR},
				</if>
				<if test=" fproSuperAdminNa != null">
					fproSuperAdminNa=#{fproSuperAdminNa,jdbcType=VARCHAR},
				</if>
				<if test=" fproSuperAdminId != null">
					fproSuperAdminId=#{fproSuperAdminId,jdbcType=VARCHAR},
				</if>
				<if test=" fwrtietime != null">
					fwrtietime=#{fwrtietime,jdbcType=DATE},
				</if>
				<if test=" fsvgzs != null">
					fsvgzs=#{fsvgzs,jdbcType=VARCHAR},
				</if>
				<if test=" fsvgqd != null">
					fsvgqd=#{fsvgqd,jdbcType=VARCHAR},
				</if>
				<if test=" fqdgeshu != null">
					fqdgeshu=#{fqdgeshu,jdbcType=VARCHAR},
				</if>
				<if test=" fzhuangshu != null">
					fzhuangshu=#{fzhuangshu,jdbcType=VARCHAR},
				</if>
				<if test=" fpeolistName != null">
					fpeolistName=#{fpeolistName,jdbcType=VARCHAR},
				</if>
				<if test=" fpeolistId != null">
					fpeolistId=#{fpeolistId,jdbcType=VARCHAR},
				</if>
				<if test=" fpeolistMd5 != null">
					fpeolistMd5=#{fpeolistMd5,jdbcType=VARCHAR},
				</if>
				
			</trim>
		where 
			fid=#{fid,jdbcType=VARCHAR}
	</update>
	
	
	<insert id="save" parameterType="Ernest.Entity.InformationTable">
		insert into pm_project_project_informationtable 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				fid,
			</if>
			<if test="gongxuChange != null">
				gongxuChange,
			</if>
			<if test="fmd5 != null">
				fmd5,
			</if>
			<if test="fprojectCode != null">
				fprojectCode,
			</if>
			<if test="fwrtieName != null">
				fwrtieName,
			</if>
			<if test="fwriteId != null">
				fwriteId,
			</if>
			<if test="fno != null">
				fno,
			</if>
			<if test="fprjoectName != null">
				fprjoectName,
			</if>
			<if test="fprojectQuanName != null">
				fprojectQuanName,
			</if>
			<if test="fprojectAddress != null">
				fprojectAddress,
			</if>
			<if test="flongitude != null">
				flongitude,
			</if>
			<if test="flatitude != null">
				flatitude,
			</if>
			<if test="fprojectMessage != null">
				fprojectMessage,
			</if>
			<if test="fproSuperAdminNa != null">
				fproSuperAdminNa,
			</if>
			<if test="fproSuperAdminId != null">
				fproSuperAdminId,
			</if>
			<if test="fwrtietime != null">
				fwrtietime,
			</if>
			<if test="fstateTime != null">
				fstateTime,
			</if>
			<if test="fendTime != null">
				fendTime,
			</if>
			<if test="fsvgzs != null">
				fsvgzs,
			</if>
			<if test="fsvgqd != null">
				fsvgqd,
			</if>
			<if test="fqdgeshu != null">
				fqdgeshu,
			</if>
			<if test="fzhuangshu != null">
				fzhuangshu,
			</if>
			<if test="fpeolistName != null">
				fpeolistName,
			</if>
			<if test="fpeolistId != null">
				fpeolistId,
			</if>
			<if test="fpeolistMd5 != null">
				fpeolistMd5,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				#{fid,jdbcType=VARCHAR},
			</if>
			<if test="gongxuChange != null">
				#{gongxuChange,jdbcType=VARCHAR},
			</if>
			<if test="fmd5 != null">
				#{fmd5,jdbcType=VARCHAR},
			</if>
			<if test="fprojectCode != null">
				#{fprojectCode,jdbcType=VARCHAR},
			</if>
			<if test="fwrtieName != null">
				#{fwrtieName,jdbcType=VARCHAR},
			</if>
			<if test="fwriteId != null">
				#{fwriteId,jdbcType=VARCHAR},
			</if>
			<if test="fno != null">
				#{fno,jdbcType=VARCHAR},
			</if>
			<if test="fprjoectName != null">
				#{fprjoectName,jdbcType=VARCHAR},
			</if>
			<if test="fprojectQuanName != null">
				#{fprojectQuanName,jdbcType=VARCHAR},
			</if>
			<if test="fprojectAddress != null">
				#{fprojectAddress,jdbcType=VARCHAR},
			</if>
			<if test="flongitude != null">
				#{flongitude,jdbcType=VARCHAR},
			</if>
			<if test="flatitude != null">
				#{flatitude,jdbcType=VARCHAR},
			</if>
			<if test="fprojectMessage != null">
				#{fprojectMessage,jdbcType=VARCHAR},
			</if>
			<if test="fproSuperAdminNa != null">
				#{fproSuperAdminNa,jdbcType=VARCHAR},
			</if>
			<if test="fproSuperAdminId != null">
				#{fproSuperAdminId,jdbcType=VARCHAR},
			</if>
			<if test="fwrtietime != null">
				#{fwrtietime,jdbcType=DATE},
			</if>
			<if test="fstateTime != null">
				#{fstateTime,jdbcType=DATE},
			</if>
			<if test="fendTime != null">
				#{fendTime,jdbcType=DATE},
			</if>
			<if test="fsvgzs != null">
				#{fsvgzs,jdbcType=VARCHAR},
			</if>
			<if test="fsvgqd != null">
				#{fsvgqd,jdbcType=VARCHAR},
			</if>
			<if test="fqdgeshu != null">
				#{fqdgeshu,jdbcType=VARCHAR},
			</if>
			<if test="fzhuangshu != null">
				#{fzhuangshu,jdbcType=VARCHAR},
			</if>
			<if test="fpeolistName != null">
				#{fpeolistName,jdbcType=VARCHAR},
			</if>
			<if test="fpeolistId != null">
				#{fpeolistId,jdbcType=VARCHAR},
			</if>
			<if test="fpeolistMd5 != null">
				#{fpeolistMd5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	
	
</mapper>