<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.pmProjectBasicMainDaoI">
	<resultMap type="Ernest.Entity.PmProjectBasicMain" id="pmProjectBasicMainMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		<result column="fno" jdbcType="VARCHAR" property="fno"/>
		<result column="fbasicType" jdbcType="VARCHAR" property="fbasicType"/>
		<result column="fbasicCode" jdbcType="VARCHAR" property="fbasicCode"/>
		<result column="fbasicState" jdbcType="VARCHAR" property="fbasicState"/>
		<result column="fbz" jdbcType="VARCHAR" property="fbz"/>
		<result column="fprojectId" jdbcType="VARCHAR" property="fprojectId"/>
		<result column="ftypeId" jdbcType="VARCHAR" property="ftypeId"/>
	</resultMap>

	<sql id="all">
		fid,fno,fbasicType,fbasicCode,fbasicState,fbz,fprojectId,ftypeId
	</sql>

	<select id="findAll" resultMap="pmProjectBasicMainMap">
		select 
		<include refid="all"/>
		from 
			pm_project_basic_main
	</select>

</mapper>