<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.pmProjectBasicDetailDaoI">
	<resultMap type="Ernest.Entity.PmProjectBasicDetail" id="pmProjectBasicDetailMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		<result column="fno" jdbcType="VARCHAR" property="fno"/>
		<result column="fbasicName" jdbcType="VARCHAR" property="fbasicName"/>
		<result column="fbasicType" jdbcType="VARCHAR" property="fbasicType"/>
		<result column="fbasicCode" jdbcType="VARCHAR" property="fbasicCode"/>
		<result column="fbasicState" jdbcType="VARCHAR" property="fbasicState"/>
		<result column="fbz" jdbcType="VARCHAR" property="fbz"/>
		<result column="fmasterId" jdbcType="VARCHAR" property="fmasterId"/>
		<result column="fonlyOne" jdbcType="VARCHAR" property="fonlyOne"/>
	</resultMap>
	
	<sql id="all">
		fid,fno,fbasicName,fbasicType,fbasicCode,fbasicState,fbz,fmasterId,fonlyOne
	</sql>
	
	<select id="findAll" resultMap="pmProjectBasicDetailMap">
		select 
		<include refid="all"/>
		from pm_project_basic_detail 
	</select>
	
	
</mapper>