<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.postinformationtabQuduanDaoI">
	<resultMap type="Ernest.Entity.PostinformationtabQuduan" id="PostinformationtabQuduanMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		<result column="fstate" jdbcType="VARCHAR" property="fstate"/>
		<result column="fmsterId" jdbcType="VARCHAR" property="fmsterId"/>
		<result column="fpostName" jdbcType="VARCHAR" property="fpostName"/>
		<result column="fpostNameState" jdbcType="VARCHAR" property="fpostNameState"/>
		<result column="fpostNameEnd" jdbcType="VARCHAR" property="fpostNameEnd"/>
		<result column="fpostId" jdbcType="VARCHAR" property="fpostId"/>
		<result column="fpointCut" jdbcType="VARCHAR" property="fpointCut"/>
		<result column="basicsSubPageState" jdbcType="VARCHAR" property="basicsSubPageState"/>
		<result column="fspanSum" jdbcType="REAL" property="fspanSum"/>
		<result column="fzhuangJdjiaxian" jdbcType="REAL" property="fzhuangJdjiaxian"/>
	
	</resultMap>
	
	<sql id="all">
		fid,fstate,fmsterId,fpostName,fpostNameState,fpostNameEnd,fpostId,fpointCut,basicsSubPageState,fspanSum,fzhuangJdjiaxian
	</sql>
	
	
	<select id="findListByfMsterID" parameterType="String" resultMap="PostinformationtabQuduanMap">
		select
		<include refid="all"/>
		from 
			pm_project_project_postinformationtab_quduan1 
		where fMsterID=#{fMsterID}
	</select>
	
	<update id="UpdateByfID" parameterType="Ernest.Entity.PostinformationtabQuduan"  >
		update pm_project_project_postinformationtab_quduan1 
		<trim prefix="set" suffixOverrides=",">
			<if test="fstate != null">
				fstate=#{fstate,jdbcType=VARCHAR},
			</if>
			<if test="fmsterId != null">
				fmsterId=#{fmsterId,jdbcType=VARCHAR},
			</if>
			<if test="fpostName != null">
				fpostName=#{fpostName,jdbcType=VARCHAR},
			</if>
			<if test="fpostNameState != null">
				fpostNameState=#{fpostNameState,jdbcType=VARCHAR},
			</if>
			<if test="fpostNameEnd != null">
				fpostNameEnd=#{fpostNameEnd,jdbcType=VARCHAR},
			</if>
			<if test="fpostId != null">
				fpostId=#{fpostId,jdbcType=VARCHAR},
			</if>
			<if test="fpointCut != null">
				fpointCut=#{fpointCut,jdbcType=VARCHAR},
			</if>
			<if test="basicsSubPageState != null">
				basicsSubPageState=#{basicsSubPageState,jdbcType=VARCHAR},
			</if>
			<if test="fspanSum != null">
				fspanSum=#{fspanSum,jdbcType=REAL},
			</if>
			<if test="fzhuangJdjiaxian != null">
				fzhuangJdjiaxian=#{fzhuangJdjiaxian,jdbcType=REAL},
			</if>
		
		</trim>
		where fid = #{fid,jdbcType=VARCHAR}
	</update>
	
	<insert id="saveById" parameterType="Ernest.Entity.PostinformationtabQuduan">
		insert into pm_project_project_postinformationtab_quduan1 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				 fid,
			</if>
			<if test="fstate != null">
				 fstate,
			</if>
			<if test="fmsterId != null">
				 fmsterId,
			</if>
			<if test="fpostName != null">
				 fpostName,
			</if>
			<if test="fpostNameState != null">
				 fpostNameState,
			</if>
			<if test="fpostNameEnd != null">
				 fpostNameEnd,
			</if>
			<if test="fpostId != null">
				 fpostId,
			</if>
			<if test="fpointCut != null">
				 fpointCut,
			</if>
			<if test="basicsSubPageState != null">
				 basicsSubPageState,
			</if>
			<if test="fspanSum != null">
				 fspanSum,
			</if>
			<if test="fzhuangJdjiaxian != null">
				 fzhuangJdjiaxian,
			</if>
			
			
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				 #{fid,jdbcType=VARCHAR},
			</if>
			<if test="fstate != null">
				 #{fstate,jdbcType=VARCHAR},
			</if>
			<if test="fmsterId != null">
				 #{fmsterId,jdbcType=VARCHAR},
			</if>
			<if test="fpostName != null">
				 #{fpostName,jdbcType=VARCHAR},
			</if>
			
			<if test="fpostNameState != null">
				 #{fpostNameState,jdbcType=VARCHAR},
			</if>
			<if test="fpostNameEnd != null">
				 #{fpostNameEnd,jdbcType=VARCHAR},
			</if>
			<if test="fpostId != null">
				 #{fpostId,jdbcType=VARCHAR},
			</if>
			<if test="fpointCut != null">
				 #{fpointCut,jdbcType=VARCHAR},
			</if>
			<if test="basicsSubPageState != null">
				 #{basicsSubPageState,jdbcType=VARCHAR},
			</if>
			<if test="fspanSum != null">
				 #{fspanSum,jdbcType=REAL},
			</if>
			<if test="fzhuangJdjiaxian != null">
				 #{fzhuangJdjiaxian,jdbcType=REAL},
			</if>
			
		</trim>
	</insert>	
	
	
	<select id="findByfMasterId" parameterType="String" resultType="Integer">
		select count(*) num from pm_project_project_postinformationtab_quduan1 where fMsterId=#{fMasterId}
	</select>
	
	
	<delete id="deleteById" parameterType="String">
		DELETE FROM pm_project_project_postinformationtab_quduan1 WHERE fID=#{fID}
	</delete>
	
	<delete id="deleteByfMsterId" parameterType="String">
		DELETE FROM pm_project_project_postinformationtab_quduan1 WHERE fMsterID=#{fMsterId}
	</delete>
	
	
	
</mapper>