<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.postinformationtabDaoI">
	<resultMap type="Ernest.Entity.Postinformationtab" id="PostinformationtabMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		<result column="fprojectCode" jdbcType="VARCHAR" property="fprojectCode"/>
		<result column="fmsterId" jdbcType="VARCHAR" property="fmsterId"/>
		<result column="fpostName" jdbcType="VARCHAR" property="fpostName"/>
		<result column="fpostId" jdbcType="VARCHAR" property="fpostId"/>
		<result column="fpointCut" jdbcType="VARCHAR" property="fpointCut"/>
		<result column="fcubeSum" jdbcType="REAL" property="fcubeSum"/>
		<result column="ftonnageSum" jdbcType="REAL" property="ftonnageSum"/>
		<result column="fspanSum" jdbcType="REAL" property="fspanSum"/>
		<result column="fzhuangJdjichu" jdbcType="REAL" property="fzhuangJdjichu"/>
		<result column="fzhuangJdzuta" jdbcType="REAL" property="fzhuangJdzuta"/>
	</resultMap>
	
	<sql id="all" >
		fid,fprojectCode,fmsterId,fpostName,fpostId,fpointCut,fcubeSum,ftonnageSum,fspanSum,fzhuangJdjichu,fzhuangJdzuta
	</sql>
	
	<select id="findListByListMasterIds" parameterType="java.util.List" resultMap="PostinformationtabMap">
		select
		<include refid="all"/>
		from 
			pm_project_project_postinformationtab 
		where 
			fMsterID in 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		#{item}
		</foreach>
	</select>
	
	<update id="UpdateById"  parameterType="Ernest.Entity.Postinformationtab">
		update pm_project_project_postinformationtab 
		<trim prefix="set" suffixOverrides=",">
				<if test=" fprojectCode != null">
					fprojectCode=#{fprojectCode,jdbcType=VARCHAR},
				</if>
				<if test=" fpostName != null">
					fpostName=#{fpostName,jdbcType=VARCHAR},
				</if>
				<if test=" fpostId != null">
					fpostId=#{fpostId,jdbcType=VARCHAR},
				</if>
				<if test=" fmsterId != null">
					fmsterId=#{fmsterId,jdbcType=VARCHAR},
				</if>
				<if test=" fpointCut != null">
					fpointCut=#{fpointCut,jdbcType=VARCHAR},
				</if>
				<if test=" fcubeSum != null">
					fcubeSum=#{fcubeSum,jdbcType=REAL},
				</if>
				<if test=" ftonnageSum != null">
					ftonnageSum=#{ftonnageSum,jdbcType=REAL},
				</if>
				<if test=" fspanSum != null">
					fspanSum=#{fspanSum,jdbcType=REAL},
				</if>
				<if test=" fzhuangJdjichu != null">
					fzhuangJdjichu=#{fzhuangJdjichu,jdbcType=REAL},
				</if>
				<if test=" fzhuangJdzuta != null">
					fzhuangJdzuta=#{fzhuangJdzuta,jdbcType=REAL},
				</if>
				
				
			</trim>
		where 
			fID=#{fid,jdbcType=VARCHAR}
	</update>
	
	
	<select id="findMapByProjectId" parameterType="String" resultType="java.util.HashMap">
		select 
			count(fID) as num,
			sum(ifnull(fSpanSum,0)) as zdsum  
		from 
			pm_project_project_postinformationtab 
		where 
			fProjectCode =#{ProjectId} 
	</select>
	
	<select id="findMapByMasterId" parameterType="String" resultType="java.util.HashMap">
		select 
			sum(ifnull(fSpanSum,0)) as num  
		from 
			pm_project_project_postinformationtab 
		where 
			fMsterID = #{MasterId}
	
	</select>
	
	<insert id="saveById" parameterType="Ernest.Entity.Postinformationtab">
	insert into pm_project_project_postinformationtab 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				 fid,
			</if>
			<if test="fprojectCode != null">
				 fprojectCode,
			</if>
			<if test="fmsterId != null">
				 fmsterId,
			</if>
			<if test="fpostName != null">
				 fpostName,
			</if>
			<if test="fpostId != null">
				 fpostId,
			</if>
			<if test="fpointCut != null">
				 fpointCut,
			</if>
			<if test="fcubeSum != null">
				 fcubeSum,
			</if>
			<if test="ftonnageSum != null">
				 ftonnageSum,
			</if>
			<if test="fspanSum != null">
				 fspanSum,
			</if>
			<if test="fzhuangJdjichu != null">
				 fzhuangJdjichu,
			</if>
			<if test="fupdateDateTime != null">
				 fupdateDateTime,
			</if>
			<if test="fzhuangJdzuta != null">
				 fzhuangJdzuta,
			</if>
			
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				 #{fid,jdbcType=VARCHAR},
			</if>
			<if test="fprojectCode != null">
				 #{fprojectCode,jdbcType=VARCHAR},
			</if>
			<if test="fmsterId != null">
				 #{fmsterId,jdbcType=VARCHAR},
			</if>
			<if test="fpostName != null">
				 #{fpostName,jdbcType=VARCHAR},
			</if>
			<if test="fpostId != null">
				 #{fpostId,jdbcType=VARCHAR},
			</if>
			<if test="fpointCut != null">
				 #{fpointCut,jdbcType=REAL},
			</if>
			<if test="ftonnageSum != null">
				 #{ftonnageSum,jdbcType=REAL},
			</if>
			<if test="fspanSum != null">
				 #{fspanSum,jdbcType=REAL},
			</if>
			<if test="fzhuangJdjichu != null">
				 #{fzhuangJdjichu,jdbcType=REAL},
			</if>
			<if test="fzhuangJdzuta != null">
				 #{fzhuangJdzuta,jdbcType=REAL},
			</if>
			
		</trim>
	</insert>
	
	<insert id="beachSave" parameterMap="java.until.List">
		insert into pm_project_project_postinformationtab 
		(fID,fMsterID,fProjectCode,fPostName,fCubeSum,fTonnageSum,fSpanSum)values 
		<foreach collection="list" item="item" index="index" separator=",">
 			(
 			#{item.fid,jdbcType=VARCHAR},
 			#{item.fmsterId,jdbcType=VARCHAR},
			#{item.fprojectCode,jdbcType=VARCHAR},
			#{item.fpostName,jdbcType=VARCHAR},
			#{item.fcubeSum,jdbcType=REAL},
			#{item.ftonnageSum,jdbcType=REAL},
			#{item.fspanSum,jdbcType=REAL}
			) 
		</foreach>
	</insert>
	
	
	
</mapper>