<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ernest.Dao.postsetbXm3gwDaoI">
	<resultMap type="Ernest.Entity.PostsetbXm3gw" id="PostsetbXm3gwMap">
		<id column="fid" jdbcType="VARCHAR" property="fid"/>
		
		<result column="fno" jdbcType="VARCHAR" property="fno"/>
		<result column="fpostName" jdbcType="VARCHAR" property="fpostName"/>
		<result column="fpostWriteName" jdbcType="VARCHAR" property="fpostWriteName"/>
		<result column="fpostWriteId" jdbcType="VARCHAR" property="fpostWriteId"/>
		<result column="fpostType" jdbcType="VARCHAR" property="fpostType"/>
		<result column="fmasterId" jdbcType="VARCHAR" property="fmasterId"/>
		<result column="fprojectName" jdbcType="VARCHAR" property="fprojectName"/>
		<result column="fprojectCode" jdbcType="VARCHAR" property="fprojectCode"/>
		<result column="fpostXlb" jdbcType="VARCHAR" property="fpostXlb"/>
		<result column="fpostxmid" jdbcType="VARCHAR" property="fpostxmid"/>
		<result column="fpostxmid1" jdbcType="VARCHAR" property="fpostxmid1"/>
		<result column="fpostxmid2" jdbcType="VARCHAR" property="fpostxmid2"/>
		<result column="fysxs1" jdbcType="VARCHAR" property="fysxs1"/>
		<collection  property="postsetbXm"  ofType="Ernest.Entity.PostsetbXm">
			<id column="px_fid" jdbcType="VARCHAR" property="fid"/>
			<result column="px_fpostName" jdbcType="VARCHAR" property="fpostName"/>
		</collection>
		<collection  property="postsetbXm3gw"  ofType="Ernest.Entity.PostsetbXm3gw">
			<id column="px3_fid" jdbcType="VARCHAR" property="fid"/>
			<result column="px3_fpostWriteId" jdbcType="VARCHAR" property="fpostWriteId"/>
			<result column="px3_fpostWriteName" jdbcType="VARCHAR" property="fpostWriteName"/>
			<result column="px3_fPostName" jdbcType="VARCHAR" property="fpostName"/>
			<result column="px3_fpostxmid" jdbcType="VARCHAR" property="fpostxmid"/>
		<result column="px3_fpostxmid1" jdbcType="VARCHAR" property="fpostxmid1"/>
		<result column="px3_fpostxmid2" jdbcType="VARCHAR" property="fpostxmid2"/>
		</collection>
		
	</resultMap>
	
	<sql id="sqllist">
		fid,fno,fpostName,fpostWriteName,fpostWriteId,fpostType,fmasterId,fprojectName,fprojectCode,fpostXlb,fpostxmid,fpostxmid1,fpostxmid2,fysxs1
	</sql>
	
	<select id="findById" parameterType="String" resultMap="PostsetbXm3gwMap">
		select 
		<include refid="sqllist"/>
		from 
			pm_project_project_informationtable_postsetb_xm_3gw 
		where
			 fId=#{fID}
	</select>
	
	<select id="findByProjectIdAndUser" resultMap="PostsetbXm3gwMap">
		select 
			gw.fID as fid,
			gw.fPostName as fpostName,
			gw.fPostxmid2 as fpostxmid2  
		from 
			pm_project_project_informationtable_postsetb_xm_3gw gw ,
			pm_project_project_informationtable_postsetb_xm xm 
		where 
			xm.fID=gw.fPostxmid 
		and 
			gw.fPostxmid1 is not null 
		and 
			xm.fMasterID=#{0} and xm.fWriteID=#{1}
	</select>
	
	<select id="findByProjectId" parameterType="String" resultMap="PostsetbXm3gwMap">
		select 
			gw.fID as fid,
			gw.fPostWriteID as fpostWriteId, 
			gwx.fID as px3_fid,
			gwx.fPostName as px3_fPostName  
		from 
			pm_project_project_informationtable_postsetb_xm_3gw gw 
		left join 
			pm_project_project_informationtable_postsetb_xm_3gw gwx 
		on 
			gw.fPostxmid2 = gwx.fPostxmid1 ,pm_project_project_informationtable_postsetb_xm xm 
		where 
			xm.fID=gw.fPostxmid 
		and 
			gwx.fPostName is not null 
		and 
			xm.fMasterID=#{ProjectId}
	</select>
	
	<select id="findChildById" parameterType="String" resultMap="PostsetbXm3gwMap">
		select 
		gw.fID as fid,
		gw.fPostWriteID as fpostWriteId,
		gwx.fID as  px3_fid,
		gwx.fPostWriteID as px3_fpostWriteId ,
		gwx.fPostName as px3_fpostName 
		from 
			pm_project_project_informationtable_postsetb_xm_3gw gw ,
			pm_project_project_informationtable_postsetb_xm_3gw gwx 
		where 
			gw.fPostxmid1=gwx.fPostxmid2 
		and 
			gw.fID=#{fID}
	</select>
	
	<select id="findByChildId" parameterType="String" resultMap="PostsetbXm3gwMap">
		select 
		gw.fID as px3_fid,
		gwx.fID as  fid,
		gwx.fPostName as fpostName 
		from 
			pm_project_project_informationtable_postsetb_xm_3gw gw ,
			pm_project_project_informationtable_postsetb_xm_3gw gwx 
		where 
			gw.fPostxmid1=gwx.fPostxmid2 
		and 
			gw.fID=#{fID}
	</select>
	
	<insert id="save" parameterType="Ernest.Entity.PostsetbXm3gw">
		insert into pm_project_project_informationtable_postsetb_xm_3gw 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				fid,
			</if>
			<if test="fno != null">
				fno,
			</if>
			<if test="fpostName != null">
				fpostName,
			</if>
			<if test="fpostWriteName != null">
				fpostWriteName,
			</if>
			<if test="fpostWriteId != null">
				fpostWriteId,
			</if>
			<if test="fpostType != null">
				fpostType,
			</if>
			<if test="fmasterId != null">
				fmasterId,
			</if>
			<if test="fprojectName != null">
				fprojectName,
			</if>
			<if test="fprojectCode != null">
				fprojectCode,
			</if>
			<if test="fpostXlb != null">
				fpostXlb,
			</if>
			<if test="fpostxmid2 != null">
				fpostxmid2,
			</if>
			<if test="fpostxmid1 != null">
				fpostxmid1,
			</if>
			<if test="fysxs1 != null">
				fysxs1,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				#{fid,jdbcType=VARCHAR},
			</if>
			<if test="fno != null">
				#{fno,jdbcType=VARCHAR},
			</if>
			<if test="fpostName != null">
				#{fpostName,jdbcType=VARCHAR},
			</if>
			<if test="fpostWriteName != null">
				#{fpostWriteName,jdbcType=VARCHAR},
			</if>
			<if test="fpostWriteId != null">
				#{fpostWriteId,jdbcType=VARCHAR},
			</if>
			<if test="fpostType != null">
				#{fpostType,jdbcType=VARCHAR},
			</if>
			<if test="fmasterId != null">
				#{fmasterId,jdbcType=VARCHAR},
			</if>
			<if test="fprojectName != null">
				#{fprojectName,jdbcType=VARCHAR},
			</if>
			<if test="fprojectCode != null">
				#{fprojectCode,jdbcType=VARCHAR},
			</if>
			<if test="fpostXlb != null">
				#{fpostXlb,jdbcType=VARCHAR},
			</if>
			<if test="fpostxmid2 != null">
				#{fpostxmid2,jdbcType=VARCHAR},
			</if>
			<if test="fpostxmid1 != null">
				#{fpostxmid1,jdbcType=VARCHAR},
			</if>
			<if test="fysxs1 != null">
				#{fysxs1,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<insert id="batchSaves" parameterType="java.util.List">
 		insert into pm_project_project_informationtable_postsetb_xm_3gw   (
 		fid,
 		fpostName,
 		fysxs1,
 		fno,
 		fpostxmid,
 		fpostxmid1,
 		fpostxmid2,
 		fpostXlb,
 		fpostType,
 		fmasterId,
 		fpostCode
 		
 		)values 
		<foreach collection="list" item="item" index="index" separator=",">
			<!-- 保证与实体类的字段一致，以对象的关系定义（注：区分大小写） -->
 			(
 			#{item.fid,jdbcType=VARCHAR},
 			#{item.fpostName,jdbcType=VARCHAR},
 			#{item.fysxs1,jdbcType=VARCHAR},
 			#{item.fno,jdbcType=VARCHAR},
 			#{item.fpostxmid,jdbcType=VARCHAR},
 			#{item.fpostxmid1,jdbcType=VARCHAR},
 			#{item.fpostxmid2,jdbcType=VARCHAR},
 			#{item.fpostXlb,jdbcType=VARCHAR},
 			#{item.fpostType,jdbcType=VARCHAR},
 			#{item.fmasterId,jdbcType=VARCHAR},
 			#{item.fpostCode,jdbcType=VARCHAR}
			) 
		</foreach>
	</insert>
	
	<update id="UpdateById" parameterType="Ernest.Entity.PostsetbXm3gw">
		update pm_project_project_informationtable_postsetb_xm_3gw 
			<trim prefix="set" suffixOverrides=",">
				<if test=" fpostName != null">
					fpostName=#{fpostName,jdbcType=VARCHAR},
				</if>
				<if test=" fpostWriteName != null">
					fpostWriteName=#{fpostWriteName,jdbcType=VARCHAR},
				</if>
				<if test=" fpostWriteId != null">
					fpostWriteId=#{fpostWriteId,jdbcType=VARCHAR},
				</if>
				<if test=" fysxs1 != null">
					fysxs1=#{fysxs1,jdbcType=VARCHAR},
				</if>
				<if test=" fno != null">
					fno=#{fno,jdbcType=VARCHAR},
				</if>
				<if test=" fpostxmid != null">
					fpostxmid=#{fpostxmid,jdbcType=VARCHAR},
				</if>
				<if test=" fpostxmid1 != null">
					fpostxmid1=#{fpostxmid1,jdbcType=VARCHAR},
				</if>
				<if test=" fpostxmid2 != null">
					fpostxmid2=#{fpostxmid2,jdbcType=VARCHAR},
				</if>
				<if test=" fpostXlb != null">
					fpostXlb=#{fpostXlb,jdbcType=VARCHAR},
				</if>
				<if test=" fpostType != null">
					fpostType=#{fpostType,jdbcType=VARCHAR},
				</if>
				<if test=" fmasterId != null">
					fmasterId=#{fmasterId,jdbcType=VARCHAR},
				</if>
				<if test=" fpostCode != null">
					fpostCode=#{fpostCode,jdbcType=VARCHAR},
				</if>
				
			</trim>
		where 
			fID=#{fid,jdbcType=VARCHAR}
	</update>
	
	<delete id="batchDelete" parameterType="java.util.List">
		DELETE FROM  pm_project_project_informationtable_postsetb_xm_3gw where fID in 
	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		#{item}
	</foreach>
	</delete>
	
</mapper>